<% if (locals.message) { %>
    <% if(locals.message.success){ %>
        <% locals.message.success.forEach(function(msg){ %>
            <div class="ui tiny success message ">
                <i class="close icon"></i>
                <div class="header">
                    <%=msg%>
                </div>
            </div>
        <% }) %>
    <% } %>

    <% if(locals.message.failure){ %>
        <% locals.message.failure.forEach(function(msg){ %>
            <div class="ui tiny error message ">
                <i class="close icon"></i>
                <div class="header">
                    <%=msg%>
                </div>
            </div>
        <% }) %>
    <% } %>
<% } %> 