<div class="ui left visible vertical inverted sidebar labeled icon menu" style="background-color: lightgray;">
  <!-- <a href="/users/home" class="item"> <img src="/images/CM-DBMS.png" style="margin-top:-5px;margin-bottom:-20px;margin-left: 0px;margin-right:0px;width:150px;height:70px;"> </a>  -->
  <a href="/users/home" class="item" >
    <i class="address book outline icon"></i>
    MAL
    <br> Master Association List
  </a>
  <a href="/users/home" class="item">
    <i class="address card outline icon"></i>
    MML 
    <br> Master Manager List
  </a>
  <a href="/users/home" class="item">
    <i class="share square icon"></i>
    Generate
    <br> Report
  </a>
</div>