<div class="item two wide column">
    <i class="user icon"></i>
    <div class="middle aligned content">
        <%=user.fName %> <br> <%=user.lName %>
    </div>
</div>
<a href="/users/logout" class="item">
    <button  class="ui blue labeled icon button" style="background-color: darkgreen;">
        <i class="sign-out large icon"></i>
        Sign Out
    </button>
</a>
<div class="item two wide column" style="margin-left: 0px;">
    <i class="clock outline icon"></i> &nbsp; 
        <div class="content">
            <div id="MyClockDisplay" class="" onload="showTime()"></div>
        </div>
</div>
<div class="item">
    <img src="/images/CM-DBMS.png" style="width: 6em; ">
</div>