<%- include ("../../partials/head") %>

<body>
    <!-- Sidebar -->
    <%- include ("../../partials/sidebar") %>
      

    <!-- All additional page content -->
    <div class="pusher" style="background-color:lightslategray">
        <!-- Top Fixed Menu  -->
        <div class="row">
            <%- include ("../../partials/topmenuempty") %>
        </div>
        <!-- Remaining page elements -->
        <div class="ui one column grid container" style="margin-top: 25px;"></div>
            <h1></h1>
            <div class="16 wide column" style="padding: 10px;">
                <div class="ui segment">
                    <h1>Welcome!</h1>
                    <ul>
                        <li>
                            <h3 class="ui inverted header" id="rightBar" style="color: black">
                                Report any issues or feature requests to: <a href="mailto:brandonmcculloh@gmail.com">brandonmcculloh@gmail.com</a>
                            </h3>
                        </li>
                    </ul>
                    <%- include ("../../partials/flash") %>
                </div>
            </div>
            
        </div>
    </div>

    <!-- Sidebar toggle script -->
    <script>
        $('.ui.left.sidebar')
            .sidebar('attach events', '#left-sidebar-toggle')
        ;
    </script>
</body>