<%- include ("../../partials/head") %>

<body style="background-color:#1C1D1E;">
    <div class="ui inverted vertical masthead center aligned segment">
        <!-- Top Bar -->
    <div class="ui inverted container" >
        <div class="ui large secondary inverted pointing menu">
            <a href="/" class="item" style="margin-left: -20px;">Home</a>
            <a href="/login" class="item">Login</a>
            <a href="/users/home" class="item">Dashboard</a>
            <a href="/users/register" class="active item">Register User</a>
            <a href="/users/delete" class=" item">Delete User</a>
            <div style="margin-right: -50px;" class="right inverted item">
                <a href="http://www.clayton-mcculloh.com/" class="ui button">Meant to visit Clayton & McCulloh's Homesite? Click Here!</a>
            </div>
        </div>
    </div>

    
    <div class="ui segment" style="background-color:lightslategray;">
        <h1></h1>
        <div class="ui text container" style="background-color:lightslategray;">
            <div class="ui grid" id="login-grid">
                
            </div>
        </div>
    </div>
</body>