<!DOCTYPE html>
<html lang="en">
<head style="background: #202021">
    <%- include ("../../partials/head") %>
</head>

<body>
    <%- include ("../../partials/sidebar") -%>
    <div>
        <h1>Welcome!</h1>
        <p>Below will be a dropdown menu to the various lists.</p>
    </div>



<footer>
    <%- include ("../../partials/footer") -%>
</footer>

</body>
    
</html>