<%- include ("../../partials/head") %>


<head >
</head>

<body style="background:lightslategray">
    <!-- Left Sidebar -->
    <div class="ui thin visible inverted left vertical sidebar menu">
        <a href="/users/home" class="item" >
            <i class="address book outline icon"></i>
            <b>—MAL—</b>
            <br> Master Association List
          </a>
          <a href="/users/home" class="item">
            <i class="address card outline icon"></i>
            <b>—MML—</b> 
            <br> Master Manager List
          </a>
          <a href="/users/home" class="item">
            <i class="share square icon"></i>
            <b>—GR—</b>
            Generate
            <br> Report
          </a>
    </div>

    <!-- Top Fixed Menu -->
    <div class="top fixed ui inverted menu" style="background: #134524; float: left;">
        <a class="item">
            <button class="ui blue labeled icon button" style="background-color: darkgreen;">
                <i class="plus square outline large icon"></i>
                &nbsp; New<br> &nbsp;Entry
            </button>
        </a>
        <a class="item">
            <div class="ui category fluid search">
                <div class="ui icon input" style="width: 550px; min-width: 300px">
                  <input class="prompt" type="text" placeholder="Search entries...">
                  <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </a>

        <div class="item two wide column" style="margin-left: 0px;">
            <i class="clock outline icon"></i> &nbsp; 
                <div class="content">
                    <div id="MyClockDisplay" class="" onload="showTime()"></div>
                </div>
        </div>
        
        <div class="item two wide column">
            <i class="user icon"></i>
            <div class="middle aligned content">
                <%=user.fName %> <br> <%=user.lName %>
            </div>
        </div>
        <a href="/users/logout" class="item">
            <button  class="ui blue labeled icon button" style="background-color: darkgreen;">
                <i class="sign-out large icon"></i>
                &nbsp; Sign <br> Out
            </button>
        </a>
        <div class="item">
            <img src="/images/CM-DBMS.png" style="width: 6em; ">
        </div>
    </div>

    <div class="pusher">
        <!-- Page Content Here-->
        <div class="ui basic segment">
            <h3 class="ui header">Hello there</h3>  
        </div>
    </div>
</body>


<%- include ("../../partials/footer") -%>