<div class="center-content bg-img"></div>
    <h1 class="ui">DBMS Register</h1>
    <div class="ui text container ">
        <div class="ui grid" id="login-grid">
            <div class="row">
                <div class=" twelve wide centered column" id="login-right">
                    <h1 class="ui inverted header" style="margin-top:0px">
                        Welcome
                    </h1>
                    <form class="ui large inverted form" id="registerForm" action="/users/register" method="POST" >
                      <div class="two fields">
                        <div class="five wide field">
                            <label>First Name</label>
                            <input type="text" name="first_name" placeholder="First Name">
                        </div>
                        <div class="five wide field">
                            <label>Last Name</label>
                            <input type="text" name="last_name" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="four wide field">
                            <label>Email Address</label>
                            <input type="email" name="email" placeholder="Email">
                        </div>
                        <div class="four wide field">
                            <label>Confirm Email Address</label>
                            <input type="email" name="confirm_email_address" placeholder="Confirm Email">
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="four wide field">
                            <label>New Password</label>
                            <input type="password" name="password" placeholder="New Password"
                                id="new_password">
                        </div>
                        <div class="four wide field">
                            <label>Confirm New Password</label>
                            <input type="password" name="password2" placeholder="Confirm Password">
                        </div>
                    </div>
                    <button class="ui green button" type="submit">Save Changes</button>
                    <button class="ui red deny centered icon button" type="reset"> Reset Fields </button>
                    </form> 
                </div>
                </div>
               
        
        </div>
    </div>
</div>
</div>