<%- include ("../../partials/head") %>
<head>
    <style>
        .ui.color1.button:not(:hover) {
            background-color: #134524;
            color: #fff;
        }
        .ui.color1.button:hover {
            background-color: darkgray;
            color: #fff;
        }
    </style>
    <style>
        .ui.color2.button:not(:hover) {
            background-color: darkred;
            color: #fff;
        }
        .ui.color2.button:hover {
            background-color: darkgray;
            color: #fff;
        }
    </style>
    <style>
        .ui.form .field.disabled :disabled {
            opacity: .999999;
            background: blue !important;
        }

        .ui.input input[disabled] {
            opacity: 1;
            border: 1px solid darkgray !important;
            background: blue !important;
        }

        .ui.input.field {
            flex-flow: column;
        }

        .ui.input.field > input {
            width: 100% !important;
            border: 1px solid black !important;
        }

        .ui.dropdown {
            /* min-height: auto !important;
            height: 50px !important; */
            border: 1px solid black !important;
        }
    </style>
    <style>
        .border-1 {
            border: 2px solid black;
            padding-left: 5px;
        }
        .inputfile {
            width: 80px;
            height: 80px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
    </style>
    <style>
        .hidden{
            visibility: hidden;
        }
        .hidden2{
            visibility: hidden;
        }
        .hidden3{
            visibility: hidden;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.css" />
    <style>
        /* .calendar{
            border: 1px solid black !important;
        } */
        .ui.input.left.icon{
            border: 1px solid black !important;
        }
    </style>
</head>

<body>
    <!-- Sidebar -->
    <%- include ("../../partials/sidebar") %>
      

    <!-- All additional page content -->
    <div class="pusher" style="background-color:white">
        <!-- Top Fixed Menu  -->
        <div class="row">
            <div class="top fixed ui inverted menu" style="background: #134524; float: left;margin-top: 0px;">
                <a class="item" id="left-sidebar-toggle">
                    <i class="sidebar large icon"></i>
                </a>
                <div class="right menu">
                    <a class="item" href="/mal/create">
                        <button class="ui blue labeled icon button" style="background-color: darkgreen;">
                            <i class="plus square outline large icon"></i>
                            New Entry
                        </button>
                    </a>
                    <a class="item">
                        <div class="ui category fluid search">
                            <div class="ui icon input" style="width: 550px; min-width: 300px">
                            <input class="prompt" type="text" placeholder="Search entries...">
                            <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </a>

                    <!-- Top Menu Extras -->

                </div>
            </div>
        </div>



        <!-- ------------------------------------------------------------------------------------------ -->
        <!-- Remaining page elements -->
        <!-- ------------------------------------------------------------------------------------------ -->
        <div class="ui one column grid container" style="margin-top: 25px; "></div>
            <h1></h1>
            <div class="column" style="padding: 15px;background-color: lightslategray;" > 
                    <h1 class="ui block header"><b>Create New Entry:</b></h1>
                    <!-- Flash Messages -->
                    <%- include ("../../partials/flash") %>
                    <!-- New Entry Form -->
                    <form class="ui form" id="createFormMAL" action="/mal/create" method="POST" style="margin-top: 0px;margin-bottom: 0px;margin-left: 0px ;padding: 0px;">
                        <div class="ui segment">
                            <div class="ui 2 column grid">
                                <!-- Information -->
                                <div class="twelve wide column">
                                    <!-- Metadata and edit information -->
                                    <div class="row">
                                        <h2>
                                            <u>Metadata & Edit Information</u>
                                        </h2>
                                        <div class="four fields">
                                            <div class="ui input field">
                                                <label>Origination Date:</label>
                                                <input disabled type="string" placeholder="1" >
                                            </div>
                                            <div class="ui input field">
                                                <label>Originator:</label>
                                                <input disabled type="string" placeholder="1">
                                            </div>
                                            <div class="ui input field">
                                                <label>Date Updated:</label>
                                                <input disabled type="string" placeholder="AUTOGENERATED">
                                            </div>
                                            <div class="ui input field">
                                                <label>Updated by:</label>
                                                <input disabled type="string" placeholder="AUTOGENERATED">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="ui inverted divider" style="margin-top: 0px;margin-bottom: 5px"></div>
                                    <!-- Primary Association Information (1) -->
                                    <div class="row">
                                        <h2>
                                            <u>Primary Association Information</u>
                                        </h2>
                                        <div class="four ui input fields">
                                            <div class="ui input field">
                                                <label>Legal Association Name:</label>
                                                <input type="string" placeholder="Enter Legal Assc Name">
                                            </div>
                                            <div class="ui input field">
                                                <label>Also Known As:</label>
                                                <input type="string" placeholder="Enter Alt Name">
                                            </div>
                                            <div class="ui input field">
                                                <label>Client Account Number:</label>
                                                <input type="string" placeholder="Enter Client Acct #">
                                            </div>
                                            <div class="ui input field">
                                                <label>File Name:</label>
                                                <input type="string" placeholder="Enter File Name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Entryway Photo/Landmark Photo -->
                                <div class="four wide column">
                                    
                                    <div class="border-1" style="margin-top: 15px;height:20vh;padding: 10px; text-align: center;overflow: auto;">
                                        <h3>
                                            Photo of Association Entryway or other notable landmark
                                        </h3>
                                    </div>
                                    <input type="file" (change)="fileEvent($event)" class="inputfile" id="embedpollfileinput" />
                                        <label for="embedpollfileinput" class="ui small right floated button" style="text-align: center;">
                                            <i class="ui upload icon"></i> 
                                            Upload Entryway/Landmark Photo
                                        </label>
                                    <input type="file" (change)="fileEvent($event)" class="inputfile" id="embedpollfileinput" />
                                </div>
                            </div>
                            <!-- Primary Association Information (2) -->
                            <div class="ui 1 column grid" style="margin-top: -3vh;">
                                <div class="column">
                                    <div class="row">
                                        <div class="three fields">
                                            <div class="field">
                                                <label>Status w/in Firm:</label>
                                                <div class="ui selection dropdown dropdownBorder">
                                                    <input type="hidden">
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">Choose from below:</div>
                                                    <div class="menu">
                                                        <div class="item" data-value="1">Option 1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label>Special Classification:</label>
                                                <div class="ui selection dropdown">
                                                    <input type="hidden" >
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">Choose from below:</div>
                                                    <div class="menu">
                                                        <div class="item" data-value="1">Option 1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label>Association Type:</label>
                                                <div class="ui selection dropdown">
                                                    <input type="hidden" >
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">Choose from below:</div>
                                                    <div class="menu">
                                                        <div class="item" data-value="1">Option 1</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="four fields">
                                            <div class="field" style="width: 37vw">
                                                <label>Secondary MHP Association Type:</label>
                                                <div class="ui selection dropdown">
                                                    <input type="hidden" >
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">Choose from below:</div>
                                                    <div class="menu">
                                                        <div class="item" data-value="1">Option 1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label>Domicile County:</label>
                                                <div class="ui selection dropdown">
                                                    <input type="hidden" >
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">Choose from below:</div>
                                                    <div class="menu">
                                                        <div class="item" data-value="1">Option 1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label>Domicile City:</label>
                                                <div class="ui selection dropdown">
                                                    <input type="hidden" >
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">Choose from below:</div>
                                                    <div class="menu">
                                                        <div class="item" data-value="1">Option 1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui input field">
                                                <label>Domicile Zip Code:</label>
                                                <input type="string" pattern="\d{5}" placeholder="Enter Zip Code">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- General Board Member Related Information -->
                        <div class="ui one column grid segment">
                            <div class="column">
                                <div class="row" style="margin-bottom: 2vh;">
                                    <h2>
                                        <u>General Board Member Related Information</u>
                                    </h2>
                                </div>
                                <div class="row">
                                    <div class="four fields">
                                        <div class="field">
                                            <label>Corporate Status:</label>
                                            <div class="ui selection dropdown">
                                                <input type="hidden" >
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Choose from below:</div>
                                                <div class="menu">
                                                    <div class="item" data-value="1">Option 1</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>Annual Meeting Month:</label>
                                            <div class="ui selection dropdown">
                                                <input type="hidden" >
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Choose from below:</div>
                                                <div class="menu">
                                                    <div class="item" data-value="1">Option 1</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>Last Corporate Report Filed:</label>
                                            <!-- Formats accepted mm/dd/yyyy or mm-dd-yyyy or mm.dd.yyyy format -->
                                            <!-- <input type="string" placeholder="Enter date" pattern="^(?:(?:(?:0?[13578]|1[02])(\/|-|\.)31)\1|(?:(?:0?[1,3-9]|1[0-2])(\/|-|\.)(?:29|30)\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:0?2(\/|-|\.)29\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:(?:0?[1-9])|(?:1[0-2]))(\/|-|\.)(?:0?[1-9]|1\d|2[0-8])\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"> -->
                                            <div class="ui calendar" id="example2">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    <input type="text" placeholder="Date" class="calendar_input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui input field" style="width: 20vw;">
                                            <label>Current Board Term Expiration:</label>
                                            <!-- Formats accepted mm/dd/yyyy or mm-dd-yyyy or mm.dd.yyyy format -->
                                            <input type="string" placeholder="Enter date" pattern="^(?:(?:(?:0?[13578]|1[02])(\/|-|\.)31)\1|(?:(?:0?[1,3-9]|1[0-2])(\/|-|\.)(?:29|30)\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:0?2(\/|-|\.)29\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:(?:0?[1-9])|(?:1[0-2]))(\/|-|\.)(?:0?[1-9]|1\d|2[0-8])\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="four fields">
                                        <div class="field">
                                            <label>Association Seminar Admittance Status:</label>
                                            <div class="ui selection dropdown">
                                                <input type="hidden" >
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Choose from below:</div>
                                                <div class="menu">
                                                    <div class="item" data-value="1">Option 1</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label>Association Seminar Name Tag Color:</label>
                                            <div class="ui selection dropdown">
                                                <input type="hidden" >
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Choose from below:</div>
                                                <div class="menu">
                                                    <div class="item" data-value="1">Option 1</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ui input field">
                                            <label># of Directors When Fully Staffed:</label>
                                            <!-- Formats accepted mm/dd/yyyy or mm-dd-yyyy or mm.dd.yyyy format -->
                                            <input type="string" pattern="[0-9]+" placeholder="Enter number">
                                        </div>
                                        <div class="ui input field">
                                            <label>Date Association Updated in Whole:</label>
                                            <!-- Formats accepted mm/dd/yyyy or mm-dd-yyyy or mm.dd.yyyy format -->
                                            <input type="string" placeholder="Enter date" pattern="^(?:(?:(?:0?[13578]|1[02])(\/|-|\.)31)\1|(?:(?:0?[1,3-9]|1[0-2])(\/|-|\.)(?:29|30)\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:0?2(\/|-|\.)29\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:(?:0?[1-9])|(?:1[0-2]))(\/|-|\.)(?:0?[1-9]|1\d|2[0-8])\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="row">
                                        <h3>
                                            <u>Individual Board/Committee Members & Seminar Information</u>
                                        </h3>
                                    </div>
                                    <div class="row">
                                        <div class="four fields">
                                            <div class="ui input field">
                                                <label>Board/Committee Members:</label>
                                                <input disabled type="string" placeholder="Input Members on Next Page">
                                            </div>
                                            <div class="ui input field">
                                                <label>Member Seminar Information:</label>
                                                <input disabled type="string" placeholder="Input Seminar Information on Next Page">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="ui segment">
                            <div class="ui two column divided grid">
                                <div class="eight wide column">
                                    <div class="row" style="margin-bottom: 2vh;">
                                        <h2>
                                            <u>Representation Inquiries:</u>
                                        </h2>
                                    </div>
                                    <div class="row">
                                        <div class="two fields">
                                            <div class="field">
                                                <label>CM Services Request:</label>
                                                <div class="ui selection dropdown">
                                                    <input type="hidden" >
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">Choose from below:</div>
                                                    <div class="menu">
                                                        <div class="item" data-value="1">Option 1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label>Origination Source:</label>
                                                <div class="ui selection dropdown">
                                                    <input type="hidden" >
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">Choose from below:</div>
                                                    <div class="menu">
                                                        <div class="item" data-value="1">Option 1</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="two fields">
                                            <div class="wrap-checkbox3 field">
                                                <label>Not CM Seminar Sponsored Origination?</label>
                                                <div class="ui toggle checkbox">
                                                    <input type="checkbox">
                                                    <label></label>      
                                                </div>
                                            </div>
                                            <div class="wrap-date3 hidden3 field">
                                                <label>Source:</label>
                                                <div class="ui selection dropdown">
                                                    <input type="hidden">
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">Choose from below:</div>
                                                    <div class="menu">
                                                        <div class="item" data-value="1">Option 1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wrap-date3 hidden3 ui input field">
                                                <label>Date Requested:</label>
                                                <!-- Formats accepted mm/dd/yyyy or mm-dd-yyyy or mm.dd.yyyy format -->
                                                <input type="string" placeholder="Enter date" pattern="^(?:(?:(?:0?[13578]|1[02])(\/|-|\.)31)\1|(?:(?:0?[1,3-9]|1[0-2])(\/|-|\.)(?:29|30)\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:0?2(\/|-|\.)29\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:(?:0?[1-9])|(?:1[0-2]))(\/|-|\.)(?:0?[1-9]|1\d|2[0-8])\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!--  Organization Information -->
                                <div class="eight wide column">
                                    <div class="row" style="margin-bottom: 2vh;">
                                        <h2>
                                            <u>Organization Information:</u>
                                        </h2>
                                    </div>
                                    <div class="row">
                                        <!-- This should be 4 but I have no idea why -->
                                        <div class="three fields">
                                            <div class="wrap-checkbox2 field">
                                                <label>ACA?</label>
                                                <div class="ui toggle checkbox">
                                                    <input type="checkbox">
                                                    <label></label>      
                                                </div>
                                            </div>
                                            <div class="wrap-date2 hidden2 field">
                                                <label>Chapter:</label>
                                                <div class="ui selection dropdown">
                                                    <input type="hidden">
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">Choose from below:</div>
                                                    <div class="menu">
                                                        <div class="item" data-value="1">Option 1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wrap-date2 hidden2 ui input field">
                                                <label>Date Requested:</label>
                                                <!-- Formats accepted mm/dd/yyyy or mm-dd-yyyy or mm.dd.yyyy format -->
                                                <input type="string" placeholder="Enter date" pattern="^(?:(?:(?:0?[13578]|1[02])(\/|-|\.)31)\1|(?:(?:0?[1,3-9]|1[0-2])(\/|-|\.)(?:29|30)\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:0?2(\/|-|\.)29\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:(?:0?[1-9])|(?:1[0-2]))(\/|-|\.)(?:0?[1-9]|1\d|2[0-8])\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">
                                            </div>
                                            <div class="wrap-date2 hidden2 ui input field">
                                                <label>Followup Date:</label>
                                                <!-- Formats accepted mm/dd/yyyy or mm-dd-yyyy or mm.dd.yyyy format -->
                                                <input type="string" placeholder="Enter date" pattern="^(?:(?:(?:0?[13578]|1[02])(\/|-|\.)31)\1|(?:(?:0?[1,3-9]|1[0-2])(\/|-|\.)(?:29|30)\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:0?2(\/|-|\.)29\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:(?:0?[1-9])|(?:1[0-2]))(\/|-|\.)(?:0?[1-9]|1\d|2[0-8])\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="three fields">
                                            <div class="wrap-checkbox field">
                                                <label>AACONA?</label>
                                                <div class="ui toggle checkbox">
                                                    <input type="checkbox">
                                                    <label></label>      
                                                </div>
                                            </div>
                                            <div class="wrap-date hidden">
                                                <div class="ui input field">
                                                    <label>Date Requested:</label>
                                                    <!-- Formats accepted mm/dd/yyyy or mm-dd-yyyy or mm.dd.yyyy format -->
                                                    <input type="string" placeholder="Enter date" pattern="^(?:(?:(?:0?[13578]|1[02])(\/|-|\.)31)\1|(?:(?:0?[1,3-9]|1[0-2])(\/|-|\.)(?:29|30)\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:0?2(\/|-|\.)29\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:(?:0?[1-9])|(?:1[0-2]))(\/|-|\.)(?:0?[1-9]|1\d|2[0-8])\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">
                                                </div>
                                                <div class="ui input field">
                                                    <label>Followup Date:</label>
                                                    <!-- Formats accepted mm/dd/yyyy or mm-dd-yyyy or mm.dd.yyyy format -->
                                                    <input type="string" placeholder="Enter date" pattern="^(?:(?:(?:0?[13578]|1[02])(\/|-|\.)31)\1|(?:(?:0?[1,3-9]|1[0-2])(\/|-|\.)(?:29|30)\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:0?2(\/|-|\.)29\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:(?:0?[1-9])|(?:1[0-2]))(\/|-|\.)(?:0?[1-9]|1\d|2[0-8])\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Merchandise Purchases -->
                        <div class="ui one column grid segment">
                            <div class="column">
                                <div class="row" style="margin-bottom: 2vh;">
                                    <h2>
                                        <u>Merchandise Purchases:</u>
                                    </h2>
                                </div>
                                <div class="row">
                                    <div class="four fields">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="four fields">

                                    </div>
                                </div>
                            </div>
                        </div>


                        











                        <!-- Bottom Buttons -->
                        <div class="ui column grid" style="padding: 15px;margin-bottom: -25px;">
                            <div class="row">
                                <button class="ui red deny icon button" type="reset"> 
                                    Reset ALL Fields 
                                </button>
                                <button class="ui green button" type="submit">
                                    Create New Entry
                                </button>
                            </div>
                          </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>

    <!-- Sidebar toggle -->
    <script>
        $('.ui.left.sidebar')
            .sidebar('attach events', '#left-sidebar-toggle')
        ;
    </script>
    <script>
        const checkbox = document.querySelector(".wrap-checkbox input");
        const dates = document.querySelectorAll(".wrap-date");

            checkbox.addEventListener("click", e => {
            for(let i = 0; i < dates.length; i++){
                dates[i].classList.toggle('hidden');
            }
        })
    </script>
    <script>
        const checkbox2 = document.querySelector(".wrap-checkbox2 input");
        const dates2 = document.querySelectorAll(".wrap-date2");

            checkbox2.addEventListener("click", e => {
            for(let i = 0; i < dates2.length; i++){
                dates2[i].classList.toggle('hidden2');
            }
        })
    </script>
    <script>
        const checkbox3 = document.querySelector(".wrap-checkbox3 input");
        const dates3 = document.querySelectorAll(".wrap-date3");

            checkbox3.addEventListener("click", e => {
            for(let i = 0; i < dates3.length; i++){
                dates3[i].classList.toggle('hidden3');
            }
        })
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.js"></script>
    <script>
        $('#example2').calendar({
            type: 'date'
        });
        // const $$ = q => document.querySelectorAll(q);
        // $$('.calendar').forEach(e => console.log(e));
        
    </script>
</body>



<script>
    $('div.ui.calendar').calendar({type: 'date'});
    
</script>

