<%- include ("../../partials/head") %>

<body>
    <!-- Sidebar -->
    <%- include ("../../partials/sidebar") %>
      

    <!-- All additional page content -->
    <div class="pusher" style="background-color:lightslategray">
        <!-- Top Fixed Menu  -->
        <div class="row">
            

            <div class="top fixed ui inverted menu" style="background: #134524; float: left;margin-top: 0px;">
                <a class="item" id="left-sidebar-toggle">
                    <i class="sidebar large icon"></i>
                </a>
                <div class="right menu">
                    <a class="item" href="/mal/create">
                        <button class="ui blue labeled icon button" style="background-color: darkgreen;">
                            <i class="plus square outline large icon"></i>
                            New Entry
                        </button>
                    </a>
                    <a class="item">
                        <div class="ui category fluid search">
                            <div class="ui icon input" style="width: 550px; min-width: 300px">
                            <input class="prompt" type="text" placeholder="Search entries...">
                            <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </a>
                    <%- include ("../../partials/topmenuExtra") %>
                </div>
            </div>


        </div>
        <!-- Remaining page elements -->
        <div class="ui one column grid container" style="margin-top: 25px;"></div>
            <h1></h1>
            <div class="16 wide column" style="padding: 10px;"> 
                <div class="ui segment">
                    <h1>Welcome!</h1>
                    <ul>
                        <li>
                            <h3 class="ui inverted header" id="rightBar" style="color: black">
                                Note: Legacy entries not currently hosted on this application
                            </h3>
                        </li>
                    </ul>
                    <%- include ("../../partials/flash") %>
                </div>
            </div>
            
        </div>
    </div>

    <!-- Sidebar toggle script -->
    <script>
        $('.ui.left.sidebar')
            .sidebar('attach events', '#left-sidebar-toggle')
        ;
    </script>
</body>