<app-dashboard-header></app-dashboard-header>

<div class="container">
  <form [formGroup]="createMMLForm" (ngSubmit)="onSubmit()">

    <h2 style="text-align:left">
      Create New Entry
    </h2>

    <fieldset class="form-row" formGroupName="primary_information_group">
      <legend>MML (Master Managers List)</legend>
      <div class="row">

        <div class="col-sm-5">
            <div class="form-group">
              <label for="userInitials">User Initials: </label>
              <div class="controls">
                <input type="text" id="userInitials" placeholder="Enter User Initials" class="form-control" formControlName="also_known_as">
              </div>
            </div>
          </div>


        <div class="col-sm-5">
            <div class="form-group">
              <label for="dateBox">Date Box: </label>
              <div class="controls">
                <input type="text" id="userInitials" placeholder="Enter User Initials" class="form-control" formControlName="also_known_as">
              </div>
            </div>
        </div>  

            <div class="col-sm-3">
            <div class="form-group">
                <label for="associationName">Legal Association Name: <span class="lblError">*</span></label>
                <div class="controls">
                <input type="text" id="associationName" placeholder="Enter Legal Association Name" class="form-control" formControlName="legal_association_name">
                <p class="lblError" *ngIf="createMMLForm.get('legal_association_name').hasError('required')
                                && !createMMLForm.get('legal_association_name').pristine">
                    Name is Required
                </p>
                <p class="lblError"
                    *ngIf="createMMLForm.get('user_name').hasError('invalidName')
                                && !createMMLForm.get('user_name').pristine">
                    Name is Invalid
                </p>
                </div>
            </div>
            </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="alsoKnownAs">Also Known As: </label>
            <div class="controls">
              <input type="text" id="alsoKnownAs" placeholder="Enter Alternate Name" class="form-control" formControlName="also_known_as">
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="accountNumber">Client Account Number: </label>
            <div class="controls">
              <input type="text" id="accountNumber" placeholder="Enter Client Acct#" class="form-control" formControlName="client_account_number">
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="fileName">File Name: </label>
            <div class="controls">
              <input type="text" id="fileName" placeholder="Enter File Name" class="form-control" formControlName="file_name">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="status">Status w/ in Firm: </label>
            <div class="controls">
              <select id="status" formControlName="status" class="form-control">
                <option ngValue="null" disabled selected>Choose from Below</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="classification">Special Classification:</label>
            <div class="controls">
              <select id="classification" formControlName="special_classification" class="form-control">
                <option ngValue="null" disabled selected>Choose from Below</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </fieldset><br>
<!------------------------------------------------------------------------------------------------------------------------------->
    <fieldset class="form-row" formGroupName="manager_information_group">
      <legend>Manager Information</legend>
      <h4>General Information</h4>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="marketingStatus">Mktg. Status:</label>
            <div class="controls">
              <input type="text" id="marketingStatus" placeholder="PUB #2" class="form-control" formControlName="association_address">
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="supplemental_info_zipCode">Status Category: </label>
            <div class="controls">
              <input type="text" id="supplemental_info_zipCode" placeholder="PUB #3" class="form-control" formControlName="zip_code">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="radio-inline col-sm-4">
          <div class="form-group">
            <label>Do they have a license?</label>
            <div class="controls" style="display: -webkit-box">
              <div class="wrapper-class">
                <input id="radioButton1" type="radio" value="Yes" formControlName="community_55_plus">
                <label for="radioButton1">Yes</label>
              </div>
              <div class="wrapper-class">
                <input id="radioButton2" type="radio" value="No" formControlName="community_55_plus">
                <label for="radioButton2">No</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="website">License no:</label>
            <div class="controls">
              <input type="text" id="website" placeholder="Enter license number" class="form-control" formControlName="website">
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="unitsDeveloped">License Date:</label>
            <div class="controls">
              <input type="text" id="unitsDeveloped" placeholder="Enter license date" class="form-control" formControlName="number_of_untis">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="registeredAgent">Title:</label>
            <div class="controls">
              <select id="registeredAgent" formControlName="registered_agent" class="form-control">
                <option ngValue="null" disabled selected>Title</option>
                <option value="1">Mr</option>
                <option value="2">Mrs</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
              <label for="registeredAgent">Gender:</label>
              <div class="controls">
                <select id="registeredAgent" formControlName="registered_agent" class="form-control">
                  <option ngValue="null" disabled selected>Gender</option>
                  <option value="1">Male</option>
                  <option value="2">Female</option>
                  <option value="2">Other</option>
                </select>
              </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="firstName">First name:</label>
                <div class="controls">
                  <input type="text" id="firstName" placeholder="Enter first name" class="form-control" formControlName="association_address">
                </div>
              </div>
            </div>

        <div class="col-sm-4">
            <div class="form-group">
              <label for="lastName">Last name:</label>
              <div class="controls">
                <input type="text" id="lastName" placeholder="Enter last name" class="form-control" formControlName="association_address">
              </div>
            </div>
          </div>

        <div class="col-sm-4">
            <div class="form-group">
              <label for="nickName">Other/Nicknames:</label>
              <div class="controls">
                <input type="text" id="nickName" placeholder="Enter nickname" class="form-control" formControlName="association_address">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="perferredTitle">Perferred Title:</label>
                <div class="controls">
                  <input type="text" id="perferredTitle" placeholder="PUB #4" class="form-control" formControlName="perferredTitle">
                </div>
              </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                  <label for="DispositionForTitle">Disposition for title:</label>
                  <div class="controls">
                    <input type="text" id="perferredTitle" placeholder="PUB #11" class="form-control" formControlName="perferredTitle">
                  </div>
                </div>
              </div>
            </div>
        <h3>Business Information</h3>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="assessments">Work Branch Address:</label>
            <div class="controls">
              <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
            </div>
          </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
              <label for="assessments">City:</label>
              <div class="controls">
                <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="assessments">State:</label>
              <div class="controls">
                <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="assessments">Zip:</label>
              <div class="controls">
                <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="assessments">County:</label>
              <div class="controls">
                <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
              </div>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="price">Landline Phone:</label>
            <div class="controls">
              <input type="text" id="price" placeholder="Enter Price" class="form-control" formControlName="price">
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="theaterSeating">Extension:</label>
            <div class="controls">
              <input type="text" id="theaterSeating" placeholder="Enter Style Seating" class="form-control" formControlName="theater_seating">
            </div>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
            <label for="seating">Cell Phone:</label>
            <div class="controls">
              <input type="text" id="seating" placeholder="Enter Tables/Chairs Seating" class="form-control" formControlName="tables_seating">
            </div>
          </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
              <label for="seating">Fax:</label>
              <div class="controls">
                <input type="text" id="seating" placeholder="Enter Tables/Chairs Seating" class="form-control" formControlName="tables_seating">
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="seating">Toll Free:</label>
              <div class="controls">
                <input type="text" id="seating" placeholder="Enter Tables/Chairs Seating" class="form-control" formControlName="tables_seating">
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="price">Work Email:</label>
            <div class="controls">
              <input type="text" id="price" placeholder="Enter email" class="form-control" formControlName="price">
            </div>
          </div>
        </div>
    </div>
      <div class="row">
        <div class="col-lg-12 form-group">
          <label for="additionalNotes">Additional Notes:</label>
          <div class="controls">
            <input type="text" id="additionalNotes" class="form-control" formControlName="additional_notes">
          </div>
        </div>
      </div>

      <h3>On-Site Information</h3>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="assessments">Work Branch Address:</label>
            <div class="controls">
              <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
            </div>
          </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
              <label for="assessments">City:</label>
              <div class="controls">
                <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="assessments">State:</label>
              <div class="controls">
                <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="assessments">Zip:</label>
              <div class="controls">
                <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="assessments">County:</label>
              <div class="controls">
                <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
              </div>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="price">Landline Phone:</label>
            <div class="controls">
              <input type="text" id="price" placeholder="Enter Price" class="form-control" formControlName="price">
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="theaterSeating">Extension:</label>
            <div class="controls">
              <input type="text" id="theaterSeating" placeholder="Enter Style Seating" class="form-control" formControlName="theater_seating">
            </div>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
            <label for="seating">Cell Phone:</label>
            <div class="controls">
              <input type="text" id="seating" placeholder="Enter Tables/Chairs Seating" class="form-control" formControlName="tables_seating">
            </div>
          </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
              <label for="seating">Fax:</label>
              <div class="controls">
                <input type="text" id="seating" placeholder="Enter Tables/Chairs Seating" class="form-control" formControlName="tables_seating">
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="seating">Toll Free:</label>
              <div class="controls">
                <input type="text" id="seating" placeholder="Enter Tables/Chairs Seating" class="form-control" formControlName="tables_seating">
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="price">Work Email:</label>
            <div class="controls">
              <input type="text" id="price" placeholder="Enter email" class="form-control" formControlName="price">
            </div>
          </div>
        </div>
    </div>
      <div class="row">
        <div class="col-lg-12 form-group">
          <label for="additionalNotes">Additional Notes:</label>
          <div class="controls">
            <input type="text" id="additionalNotes" class="form-control" formControlName="additional_notes">
          </div>
        </div>
      </div>

      <h3>Staff Information</h3>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="assessments">Work Branch Address:</label>
            <div class="controls">
              <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
            </div>
          </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
              <label for="assessments">City:</label>
              <div class="controls">
                <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="assessments">State:</label>
              <div class="controls">
                <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="assessments">Zip:</label>
              <div class="controls">
                <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group">
              <label for="assessments">County:</label>
              <div class="controls">
                <input type="text" id="assessments" placeholder="Enter Assesments" class="form-control" formControlName="assessments">
              </div>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="price">Landline Phone:</label>
            <div class="controls">
              <input type="text" id="price" placeholder="Enter Price" class="form-control" formControlName="price">
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="theaterSeating">Extension:</label>
            <div class="controls">
              <input type="text" id="theaterSeating" placeholder="Enter Style Seating" class="form-control" formControlName="theater_seating">
            </div>
          </div>
        </div>

        <div class="col-sm-2">
          <div class="form-group">
            <label for="seating">Cell Phone:</label>
            <div class="controls">
              <input type="text" id="seating" placeholder="Enter Tables/Chairs Seating" class="form-control" formControlName="tables_seating">
            </div>
          </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
              <label for="seating">Fax:</label>
              <div class="controls">
                <input type="text" id="seating" placeholder="Enter Tables/Chairs Seating" class="form-control" formControlName="tables_seating">
              </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="form-group">
              <label for="seating">Toll Free:</label>
              <div class="controls">
                <input type="text" id="seating" placeholder="Enter Tables/Chairs Seating" class="form-control" formControlName="tables_seating">
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="price">Work Email:</label>
            <div class="controls">
              <input type="text" id="price" placeholder="Enter email" class="form-control" formControlName="price">
            </div>
          </div>
        </div>
    </div>
      <div class="row">
        <div class="col-lg-12 form-group">
          <label for="additionalNotes">Additional Notes:</label>
          <div class="controls">
            <input type="text" id="additionalNotes" class="form-control" formControlName="additional_notes">
          </div>
        </div>
      </div>

      <h3>Home Information:</h3>
      

    </fieldset><br>

    <fieldset class="form-row" formGroupName="general_board_member_info">
      <legend>General Board Member Related Information</legend>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="corporateStatus">Corporate Status:</label>
            <div class="controls">
              <select id="corporateStatus" formControlName="corporate_status" class="form-control">
                <option ngValue="null" disabled selected>Choose from Below</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="meetingMonth">Annual Meeting Month:</label>
            <div class="controls">
              <select id="meetingMonth" formControlName="annual_meeting_month" class="form-control">
                <option ngValue="null" disabled selected>Choose from Below</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group col-sm-3">
          <div class="controls">
            <label for="reportFiledDate">Last Corporate Report Filed:</label>
            <p-calendar formControlName="last_corporate_report_filed" [showIcon]="true" inputId="reportFiledDate" placeholder="Select a Date"></p-calendar>
          </div>
        </div>

        <div class="form-group col-sm-3">
          <div class="controls">
            <label for="bordTermExpDate">Current Board Term Expiration:</label>
            <p-calendar formControlName="board_term_expiration" [showIcon]="true" inputId="bordTermExpDate" placeholder="Select a Date"></p-calendar>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="admittanceStatus">Association Seminar Admittance Status:</label>
            <div class="controls">
              <select id="admittanceStatus" formControlName="seminar_status" class="form-control">
                <option ngValue="null" disabled selected>Choose from Below</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="tagColor">Association Seminar Name Tag Color:</label>
            <div class="controls">
              <select id="tagColor" formControlName="seminar_name_tag_color" class="form-control">
                <option ngValue="null" disabled selected>Choose from Below</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="directors"># of Directors When Fully Staffed:</label>
            <div class="controls">
              <input type="text" id="directors" placeholder="Enter No. of Directors" class="form-control" formControlName="no_of_directors">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-3">
          <div class="controls">
            <label for="associationUpdatedDate">Date Association Updated in Whole:</label>
            <p-calendar formControlName="association_updated_date" [showIcon]="true" inputId="associationUpdatedDate" placeholder="Select a Date"></p-calendar>
          </div>
        </div>
      </div>
    </fieldset><br>

    <fieldset class="form-row" formGroupName="social_media">
      <legend>Social Media, Birthdays, & Contests</legend>
      <div class="row">
        <div class="radio-inline col-sm-4">
          <div class="form-group">
            <label>No Social Media?</label>
            <div class="controls" style="display: -webkit-box">
              <div class="wrapper-class">
                <input id="socialMediaRadioButton1" type="radio" value="Yes" formControlName="social_media">
                <label for="socialMediaRadioButton1">Yes</label>
              </div>
              <div class="wrapper-class">
                <input id="socialMediaRadioButton2" type="radio" value="No" formControlName="social_media">
                <label for="socialMediaRadioButton2">No</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="radio-inline col-sm-4">
          <div class="form-group">
            <label>Facebook?</label>
            <div class="controls" style="display: -webkit-box">
              <div class="wrapper-class">
                <input id="facebookRadioButton1" type="radio" value="Yes" formControlName="has_facebook">
                <label for="facebookRadioButton1">Yes</label>
              </div>
              <div class="wrapper-class">
                <input id="facebookRadioButton2" type="radio" value="No" formControlName="has_facebook">
                <label for="facebookRadioButton2">No</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="facebookAccountName">Facebook Account Name:</label>
            <div class="controls">
              <input type="text" id="facebookAccountName" placeholder="Enter Account Name" class="form-control" formControlName="facebook_account_name">
            </div>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <div class="controls">
            <label for="facebookDate">Date:</label>
            <p-calendar formControlName="facebook_date" [showIcon]="true" inputId="facebookDate" placeholder="Select a Date"></p-calendar>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="radio-inline col-sm-4">
          <div class="form-group">
            <label>LinkedIn?</label>
            <div class="controls" style="display: -webkit-box">
              <div class="wrapper-class">
                <input id="linkedInRadioButton1" type="radio" value="Yes" formControlName="has_linkedin">
                <label for="linkedInRadioButton1">Yes</label>
              </div>
              <div class="wrapper-class">
                <input id="linkedInRadioButton2" type="radio" value="No" formControlName="has_linkedin">
                <label for="linkedInRadioButton2">No</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="linkedInAccountName">LinkedIn Account Name:</label>
            <div class="controls">
              <input type="text" id="linkedInAccountName" placeholder="Enter Account Name" class="form-control" formControlName="linkedin_account_name">
            </div>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <div class="controls">
            <label for="linkedInDate">Date:</label>
            <p-calendar formControlName="linkedin_date" [showIcon]="true" inputId="linkedInDate" placeholder="Select a Date"></p-calendar>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="radio-inline col-sm-4">
          <div class="form-group">
            <label>Twitter?</label>
            <div class="controls" style="display: -webkit-box">
              <div class="wrapper-class">
                <input id="twitterRadioButton1" type="radio" value="Yes" formControlName="has_twitter">
                <label for="twitterRadioButton1">Yes</label>
              </div>
              <div class="wrapper-class">
                <input id="twitterRadioButton2" type="radio" value="No" formControlName="has_twitter">
                <label for="twitterRadioButton2">No</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="twitterAccountName">Twitter Account Name:</label>
            <div class="controls">
              <input type="text" id="twitterAccountName" placeholder="Enter Account Name" class="form-control" formControlName="twitter_account_name">
            </div>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <div class="controls">
            <label for="twitterDate">Date:</label>
            <p-calendar formControlName="twitter_date" [showIcon]="true" inputId="twitterDate" placeholder="Select a Date"></p-calendar>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="radio-inline col-sm-4">
          <div class="form-group">
            <label>Instagram?</label>
            <div class="controls" style="display: -webkit-box">
              <div class="wrapper-class">
                <input id="instagramRadioButton1" type="radio" value="Yes" formControlName="has_instagram">
                <label for="instagramRadioButton1">Yes</label>
              </div>
              <div class="wrapper-class">
                <input id="instagramRadioButton2" type="radio" value="No" formControlName="has_instagram">
                <label for="instagramRadioButton2">No</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="instagramAccountName">Instagram Account Name:</label>
            <div class="controls">
              <input type="text" id="instagramAccountName" placeholder="Enter Account Name" class="form-control" formControlName="instagram_account_name">
            </div>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <div class="controls">
            <label for="instagramDate">Date:</label>
            <p-calendar formControlName="instagram_date" [showIcon]="true" inputId="instagramDate" placeholder="Select a Date"></p-calendar>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" [disabled]="createMMLForm.invalid" style="width: 15%">
        Create
      </button>
    </div>

  </form>
</div>

