<header>
  <nav class="navbar navbar-inverse" style="background-color:#1C1D1E;">
    <div class="container-fluid">
      <ul class="nav navbar-nav" style="margin-left: 60px;">
        <li><a class="navigation-titles" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a class="navigation-titles" routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a class="navigation-titles" routerLink="/users/home" routerLinkActive="active">DB's</a></li>
      </ul>
      <a routerLink="http://www.clayton-mcculloh.com/"><button type="button" class="redirect-button" style="margin-left: 600px; margin-top: 7px">Meant to visit Clayton & McCulloh's Homesite? Click Here!</button></a>
    </div>
  </nav>
</header>
