<div class="landing bg-img center-content">
    <div class="ui container"></div>
        <h1 class="ui yellow header" style="font-size: 5em;">C&M Database Management System</h1>
        <p></p>
        <a href="/login">
            <div class='ui big blue button'>
                Login To Your Account
            </div>
        </a>
    </div>
</div>